<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"]</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/favicon/favicon.ico">
</head>

<body>
    <div class=page>
        <h1><img src="/images/icon1.png" alt="Icon1" />Chirp!</h1>
        <div class=navigation>
            @if (User.Identity!.IsAuthenticated)
            {
                <div>
                    <a href="/@(User.Identity.Name)">my timeline</a> |
                    <a href="/">public timeline</a> |
                    <a href="/aboutme">about me</a> |
                    <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">sign out</a>
                </div>
            }
            else
            {
                <div>
                    <a href="/">public timeline</a> |
                    <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">sign in</a>
                </div>
            }
        </div>
        <div class=body>
            @RenderBody()
        </div>
        <div class=footer>
            Chirp &mdash; An ASP.NET Application
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>